*{
    text-decoration: none;
}

header{
    background-color: aqua;
}
header img{
    margin: 10px;
}
nav{
    float: right;

}

li{
    list-style: none;
     display: inline-block;
     margin: 15px;
}